@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "navigation";
@import "hero";
@import "bullets";
@import "cards";
@import "griditems";
@import "comments";
@import "introtext";
@import "footer";


body {
  margin: 0;
}


.container {
  @include outer-container;

  section {
    margin: 20px 0;

    h2 {
      @extend h3;
      text-align: center;
    }
  }
}
